/* Base */
body {
    background-color: #f8f9fa;
    padding-bottom: 40px;
}

h1, .h1, .page-title {
    margin-bottom: 1rem;
}

/* Tablas */
.table td, .table th {
    vertical-align: middle;
}

/* Tarjetas */
.card {
    border-radius: .6rem;
}

/* Utilidades */
.text-small {
    font-size: .875rem;
}

.text-muted-80 {
    color: rgba(0,0,0,.6);
}
